extends layout

block content
        #runtime
        script(src='node_modules/jade/runtime.js')
        script(src='runtime.js')
        script.
            var runtimeNode = document.getElementById('runtime')
            var runtimeHtml = template({isRuntime: true})
            runtimeNode.innerHTML = runtimeHtml
        style.
            body {color: #66ccff}
        script.
            var imoocCourse = 'jade'
        
        h1 元素语法
        div
            p
            ul
                li
        
        h1 元素属性
        h2#title.title1.title2(class='title3') jade study
        div.classname
        .classname
            a(href='http://imooc.com', title='imooc jade study', data-uid='1000') link
        input(name='course', type='text', value='jade')
        input(name='type', type='checkbox', checked='checked')

        h1 混排文档
        p.
         1. aa
         2. bb
        p
          | 1. aa
          em ss
          | 2. bb

        h1 注释
        // 单行注释
        //- 非缓冲注释
        //- 
            p 块注释
        
        h1 转义&非转义
        - var data = 'text'
        - var htmlData = '<script>alert(1)</script><span>script</span>'
        p #{data}
        p #{htmlData}
        p !{htmlData}
        p= data
        p= htmlData
        p!= htmlData
        p \#{htmlData}
        p \!{htmlData}
        input(value=newData)

        h1 流程
        - var obj = {course:'jade', level:'high'}
        - for (let k in obj)
            p= obj[k]
        - each value,key in obj
            p #{key}: #{value}
        - var list = ['node', 'jade']
        each item in list
            p= item
        - var n = 0;
        ul
            while n<4
                li= n++
        - var flag = true
        if list
            if list.length > 1
                p #{list.join(', ')}
            else
                p no data
        unless !flag
            p #{list.length}
        - var name = 'jade'
        case name
            when 'java'
            when 'node'
                p Hi node!
            when 'jade': p Hi jade!
            default
                p No!
        
        h1 mixin
        mixin lesson
            p imooc jade study
        +lesson
        mixin study(name, courses)
            p #{name} study
            ul.courses
                each course in courses
                    li= course
        +study('tom', ['jade', 'node'])
        mixin group(student)
            h4 #{student.name}
            +study(student.name, student.courses)
        +group({name:'tom', courses:['jade', 'node']})

        mixin team(slogon)
            h4 #{slogon}
            if block 
                block
            else
                p no team
        +team('slogon')
            p Good job!
        
        mixin attr(name)
            p(class!=attributes.class) #{name}
        +attr('attr')(class='magic')
        mixin attrs(name)
            p&attributes(attributes) #{name}
        +attrs('attrs')(class='magic2', id='attrid')
        mixin magic(name, ...items)
            ul(class='#{name}')
                each item in items
                    li= item
        +magic('magic3', 'node', 'jade', '...')

        h1 模板继承&覆盖
        block desc
            p imooc jade study extends
        
        
        
